.subtitle {
    margin: -10px 0 15px;
    font-size: 16px;
    color: #4d4d4d;
}

.subtitle span {
    color: #ffffff;
    font-weight: 700;
}

.rates-container {
    padding: 10px 20px 10px 10px;
    overflow-y: scroll;
    scrollbar-color: #1e719d #d4d4d4;
    scrollbar-width: 16px;
    height: calc(100vh - 360px);
    background-color: #e3e3e3;
}

.rates-container::-webkit-scrollbar {
    width: 16px;
}

.rates-container::-webkit-scrollbar-track {
    background-color: #d4d4d4;
    border-radius: 8px;
}
  
.rates-container::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 6px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: #1e719d;
}