.subtitle {
    margin: -10px 0 15px;
    font-size: 16px;
    color: #4d4d4d;
}

.subtitle span {
    color: #ffffff;
    font-weight: 700;
}

.rates-container {
    padding: 10px;
    overflow-y: scroll;
    scrollbar-color: #00ccff #d4d4d4;
    scrollbar-width: 10px;
    height: calc(100vh - 360px);
    background-color: #cccccc;
}

.rates-container::-webkit-scrollbar {
    width: 10px;
}

.rates-container::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 8px;
}
  
.rates-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 6px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: #00ccff;
}

.rates-container table {
    border-collapse: collapse;
}

.rates-container td {
    padding: 10px 5px;
    border-top: solid 2px #ffffff;
    border-bottom: solid 2px #ffffff;
}

.rates-container td.left {
    border-left: solid 2px #ffffff;
    padding-left: 15px;
}

.rates-container td.right {
    border-right: solid 2px #ffffff;
    padding-right: 15px;
}