.modal-shell {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
}
  
.modal {
    position: relative;
    box-sizing: border-box;
    width: 640px;
    height: 480px;
    padding: 15px;
    color: #ffffff;
    border: solid 1px #ffffff;
    background-color: #00ccff;
}

.modal-close {
    position: absolute;
    top: -60px;
    right: 0;
    font-size: 60px;
    transform: rotate(90deg);
    color: #ffffff;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.modal-close:hover {
    color: #00ccff;
}
  
.modal-title {
    width: 100%;
    height: 32px;
    padding: 4px 0 4px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.modal-entry {
    width: 100%;
    height: calc(100% - 40px);
    text-align: center;
    overflow-y: scroll;
}