.rate-line img {
    cursor: pointer;
    padding: 0 5px;
}

.rate-line .unfavorite {
    filter: grayscale(1);
}

.rate-line span {
    color: #ffffff;
    font-weight: 700;
}

.rate-line .align-right, .rate-line .right {
    text-align: right;
}

.rate-line .rate-name {
    color: #4d4d4d;
}