.currency-div {
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
    height: 34px;
    cursor: pointer;
}

.currency-div div {
    display: table-cell;
    box-sizing: border-box;
    height: 30px;
    border: solid 2px #ffffff;
}

.currency-abbreviation {
    position: relative;
    top: 0;
    width: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    border: solid 2px #ffffff;
    background-color: #00ccff;
    transition: top .3s ease-in-out;
}

.currency-name {
    width: 110px;
    padding: 0 5px;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    color: #4d4d4d;
    vertical-align: middle;
    background-color: #ffffff;
    overflow: hidden;
    transition: color .3s ease-in-out;
}

.currency-div:hover .currency-abbreviation {
    top: -3px;
}

.currency-div:hover .currency-name {
    color: #00ccff;
}