nav {
    display: inline-block;
}

nav button {
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 100%;
    padding: auto 20px;
    padding: 10px 20px;
    border: 2px solid #00ccff;
    background-color: transparent;
    cursor: pointer;
}

.active {
    color: #ffffff;
    border-color:#ffffff;
    cursor: default;
}

.await {
    color: #4d4d4d;
    transition: color .3s ease-in-out;
}

.await:hover {
    color: #ffffff;
}